.red {color: #991010!important;}
.orange {color: #ac7011!important;}
.yellow {color: #969617!important;}
.green {color: #568c02!important;}
.blue {color: #0a7ed2!important;}
.purple {color: #8e3dc8!important;}